
#doc_text {
    position: absolute;
    right: 70%;
    top: 12%;
  }

  #munic_img {
    position: absolute;
    right: 85%;
    top: -10%;
  }

  .contentupload {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
  }

  .lbl {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .contentupload p {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

  }

  .radio-toolbar input[type="radio"] {
    display: none;
  }

  .radio-toolbar label {
    display: inline-block;
    background-color: #105b68;
    padding: 4px 11px;
    font-family: Arial;
    font-size: 18px;
    cursor: pointer;
  }

  .radio-toolbar input[type="radio"]:checked+label {
    color: #c2c2c2;
  }

  .radio-toolbar {
    display: flex;
    justify-content: space-between;
  }

  .styled-table {
    border-collapse: collapse;
    margin-bottom: 3%;
    margin-top: 3%;
    font-size: 0.9em;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  .styled-table #resp_message {
    width: 200px;
  }

  .styled-table thead tr {
    background-color: rgb(53 190 235 / 38%);
    color: #ffffff;
    text-align: left;
  }

  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }

  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #4286f4;
  }

  .styled-table tbody tr:nth-of-type(even) {
    background-color: rgb(53 190 235 / 38%);
  }

  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(53 190 235 / 38%);
  }

  .label-file {
    cursor: pointer;
    color: #00b1ca;
    font-weight: bold;
    margin-right: 14%;
    margin-left: 14%;
  }

  .label-file:hover {
    color: #25a5c4;
  }

  .input-file {
    display: none;
  }

  .alert {
    border-radius: 12px;
    width: 800px;
    max-width: 90%;
    padding: 16px 22px 17px 20px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .alert-warning {
    background: #f2a500c8;
    color: rgb(251, 215, 112);
    border-color: rgb(123, 92, 0);
  }

  .alert-info {
    color: #0c5460;
    background-color: #105b68;
    border-color: #042e35;
  }

  .alert .icon__wrapper {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.253);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .alert .icon__wrapper span {
    font-size: 21px;
    color: #fff;
  }

  .alert p {
    color: #fff;
    font-family: Verdana;
    margin-left: 10px;
  }

  .alert p a,
  .alert p a:visited,
  .alert p a:active {
    color: #51c5ff;
  }

  #addcustom {
    position: relative;
    left: 645px;
    margin-top: 2%;
    padding: 10px 15px"

  }

  #field button {
    margin-left: 90%;
    margin-top: 2%;
  }

  #nums input {
    height: 40px;
    margin-left: 6px;
    margin-right: 2px;
    width: 80px;
  }

  #array input {
    height: 40px;
    margin-left: 6px;
    margin-right: 2px;
    width: 150px;
  }

  #array {
    display: flex;
  }

  #array label {
    height: 40px;
    margin-left: 6px;
    width: 150px;
  }

  #http-div select {
    height: 40px;
    border-radius: 4px;
    width: 130px;
  }

  #http-div label {
    margin-top: 1%;
  }

  #field {
    width: 800px;
  }

  .content {
    display: flex;
    width: 800px;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 6%;
    padding: 1px 0;
  }

  select {
    background-color: rgb(53, 53, 53);
    border: none;
    width: 200px;
    height: 40px;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
  }

  #http {
    display: inline-block;
  }

  .logged-in {
    display: inline-block;
    margin-right: 10px;
    color: green;
  }

  .logged-out {
    display: inline-block;
    margin-right: 10px;
    color: red;
  }

  .waiting {
    display: inline-block;
    margin-right: 10px;
    color: yellow;
  }

  html {
    background-color: #0b2938 !important;
    color-scheme: dark !important;
  }

  body {
    color: rgba(255, 255, 255, 0.837);
    background-color: rgb(11, 41, 56);
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
  }

  .sim_form {
    border: 5px solid #777777;
  }

  #sl {
    border: 5px solid #777777;
    margin-bottom: 2%;
  }

  .slct {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  input[type=text],
  input[type=password] {
    width: 100%;
    width: 800px;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc00;
    box-sizing: border-box;
  }

  .icon {
    font-size: 110px;
    display: flex;
    justify-content: center;
    color: #4286f4;
  }

  .button {
    background-color: rgb(53 190 235 / 38%);
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grab;
    width: 48%;
  }

  #btn {
    background-color: rgb(53 190 235 / 38%);
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: grab;
  }

  h1 {
    text-align: center;
    font-size: 18;
  }

  button:hover {
    opacity: 0.8;
  }

  .formcontainer {
    text-align: center;
    margin: 24px 60px 16px;
  }

  .container {
    padding: 16px 0;
    text-align: left;
  }

  span.psw {
    float: right;
    padding-top: 0;
    padding-right: 15px;
  }

  .boody {
    display: flex;
  }

  #navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    padding: 0.5rem 1rem;
    background-color: #105b68;
  }

  .dropbtn {
    background-color: #105b68;
    color: white;
    font-size: 18px;
    border: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #105b68;
    min-width: 180px;
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content label {
    width: 100%;

    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content label:hover {
    background-color: #1a91a7;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .btn-nav {
    position: relative;
    color: white;
    left: 60%;
    background-color: rgba(220, 53, 70, 0.432);
  }