<!DOCTYPE html>
<html lang="en">
<title>Munic Simulator</title>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
    integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/style.css">
</head>

<body>
  <nav id="navbar">
    <img src="/public/munic.png" class="d-inline-block align-top" alt="Munic.io">

    <div class="radio-toolbar">
      <input type="radio" id="radio1" name="radios" value="all" checked>
      <label for="radio1">Simulate</label>


      {# <div class="dropdown"> #}
        <input type="radio" id="radio2" name="radios" value="all">
        <label for="radio2">Replay</label>
        {# <div class="dropdown-content">
          <input type="radio" id="radio2" name="radios" value="false">
          <label for="radio2">Using one file</label>

          <input type="radio" id="radio3" name="radios" value="false">
          <label for="radio3">Using multiple files</label>
        </div>
      </div> #}

      <input type="radio" id="radio4" name="radios" value="false">
      <label for="radio4">Upload File</label>

    </div>
    <div class="btn-nav">
      <button id="record-btn" type="button" class="btn btn-outline-danger">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-record-btn"
          viewBox="0 0 16 16">
          <path d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
          <path
            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z">
          </path>
        </svg>
        <span>
          Record Trips
        </span>
      </button>
    </div>
  </nav>

  <div class="boody">
    <div style="margin-left:auto;margin-right:auto;">

      <div class="alert alert-info">
        <div class="icon__wrapper">
          <span class="mdi mdi-alert-outline"></span>
        </div>
        <p>In this <a target="_blank" href="https://store.munic.io/documentations/tracks#toc_1">Documentation</a> you
          will find how webhooks work, bascically it's what we're simulating here ! Enjoy !</p>
      </div>

      <table class="styled-table" id="thread-table">
        <thead>
          <tr>
            <th>Thread URL</th>
            <th>Abort</th>
            <th>HTTP Request Status</th>
            <th>Request Timestamp</th>
            <th>HTTP Request Message</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

      <form id="form2" enctype='multipart/form-data' method="post" action="/upload">
        <div class="lbl">
          <label>
            <strong>
              Upload a Refrence File (if you haven't already)
            </strong>
          </label>
        </div>
        <div class="container">
          <div class="contentupload">
            <input type="file" id="json_file" name="json_file" accept="application/json">
          </div>
          <button type="submit" class="button" id="upload_button" style="margin-left: 26%;"><strong>Upload
              !!</strong></button>
        </div>
      </form>

      <form id="form1" class="sim_form" enctype='multipart/form-data' method="post" action="/simulate">
        <div class="formcontainer">
          <div class="container">

            <label><strong>Your URL :</strong></label><br>
            <input name="url" id="url" type="text" placeholder="Enter your Notification URL">
            <p>{{ msg }}</p>
            <div class="sim_elements">
              <h1>Coordinates</h1>
              <div class="alert alert-warning">
                <div class="icon__wrapper">
                  <span class="mdi mdi-alert-outline"></span>
                </div>
                <p>You are replaying the exact same trip picked by date and file !! if you want to simulate using real
                  Coordinates in real time and customized fields, please enter a valid
                  google maps api key !
                  <a href="https://developers.google.com/maps/documentation/javascript/get-api-key?hl=fr"
                    target="_blank"><strong>How to create
                      one
                      !</strong> </a>
                </p>
              </div>
              <label><strong>Google maps API KEY</strong></label><br>
              <input name="key" id="key" type="password" placeholder="Enter your GM API KEY"><br>
              <label><strong>Departure</strong></label><br>
              <input name="source" id="source" type="text" placeholder="Enter Departure Location"><br>
              <label><strong>Destination</strong></label><br>
              <input name="destination" id="destination" type="text" placeholder="Enter Destination Location">
            </div>
            <div class="replayslct">
              <div class="replayslct1">
                <div id="http-div" class="content">
                  <label><strong>Choose a track file </strong></label>
                  <div class="select">
                    <select name="track_file" id="tf_select">
                      <option id="slct" value="">Choose a file</option>
                      {% if track_dates %}
                      {% for file, data in track_dates | group_by(attribute="_id.file") %}
                      {% if file %}
                      <option id="slct" value="{{file}}"> {{file}}</option>
                      {% endif %}
                      {% endfor %}
                      {% endif %}
                    </select>
                  </div>

                  <label><strong>Choose a presence file </strong></label>
                  <div class="select">
                    <select name="presence_file" id="pf_select">
                      <option id="slct" value="">Choose a file</option>
                      {% if presence_dates %}
                      {% for file, data in presence_dates | group_by(attribute="_id.file") %}
                      {% if file %}
                      <option id="slct" value="{{file}}"> {{file}}</option>
                      {% endif %}
                      {% endfor %}
                      {% endif %}
                    </select>
                  </div>
                </div>

                <div id="http-div" class="content">
                  <label><strong>Choose a track date </strong></label>
                  <div class="select">
                    <select name="track_option" id="t_select">
                    </select>
                  </div>
                  <label><strong>Choose a presence date </strong></label>
                  <div class="select">
                    <select name="presence_option" id="p_select">
                    </select>
                  </div>
                </div>
              </div>
              <div class="replayslct2">
                <div id="http-div" class="content">
                  <label><strong>Choose a Replay file </strong></label>
                  <div class="select">
                    <select name="chosen_json_file" id="chosen_json_file">
                      <option id="slct" value="">Choose a file</option>
                      {% for file in json_data %}
                      {% if file %}
                      <option id="slct" value="{{file}}"> {{file}}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" id="addcustom" class="btn btn-dark"><strong>Add Custom Field</strong></button>
            <div id="custom-fields">

            </div>
          </div>

          <input type="hidden" id="fields_size" name="fields_size">
          <input type="hidden" maxlength="999999" id="fields_data" name="fields_data">
          <button type="submit" class="button" id="button"><strong>Simulate !!</strong></button>
      </form>

    </div>
  </div>
</body>
<script src="https://unpkg.com/validator@latest/validator.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript" src="/public/scripts.js">
</script>

{% if track_dates and presence_dates %}
<script type="text/javascript">
  const tdata = {{ track_dates| json_encode() | safe }};
  const pdata = {{ presence_dates| json_encode() | safe }};
</script>
{% endif %}

<script type="text/javascript" src="/public/display_script.js">
</script>

</html>