appenders:
  my_stdout:
    kind: console
    encoder:
      pattern: "{h({d(%Y-%m-%d %H:%M:%S)(utc)} - {l}: {m}{n})}"
  Logger_file_logger:
    kind: rolling_file
    path: "log/Logger.log"
    encoder:
      pattern: "{d(%Y-%m-%d %H:%M:%S)(utc)} - {h({l})}: {m}{n}"
    policy:
      trigger:
        kind: size
        limit: 50kb
      roller:
        kind: delete
root:
  level: error
  appenders:
    - my_stdout
loggers:
  special:
    level: trace
    appenders:
      - Logger_file_logger
    additive: false
